@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Home Page";
}

@if (ViewBag.Message != null)
{
    <div class="alert alert-success">
        <strong>Success!</strong> @ViewBag.Message
        <p>The Role of this Login User to view this page..</p>
    </div>
}

<div class="row">

    @if (User.Identity.IsAuthenticated)
    {
        <h1>Welcome User @(User.Identity.IsAuthenticated ? HttpContext.Current.User.Identity.Name : "Guest")</h1>
        <a href="@Url.Action("SignOut","Home")">Logout</a>
    }

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}

